footer {
  @include gridLayout(300px);
  padding: 100px 100px 100px 100px;
  background-color: $primaryColor;
  color: white;
  div {
    display: grid;

    h4 {
      margin-bottom: 5px;
    }
    p {
      font-size: 12px;
      margin: 20px 0;
    }
    i {
      font-size: 30px;
      transition: all 0.8s;
      &:hover {
        transform: translateY(-10px);
        color: black;
      }
    }
    a {
      text-decoration: none;
      margin: 5px 0;
      font-size: 14px;
      color: white;
    }
  }
  .col-1 {
    div {
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }
  }
}

@media only screen and (max-width: 1400px) {
  footer {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 20px;
  }
}

@media only screen and (max-width: 650px) {
  footer {
    padding: 10px;
    .col-1 {
      h3,
      i {
        display: none;
      }
      p {
        margin: 0;
      }
    }
    .col-2,
    .col-3,
    .col-4 {
      display: none;
    }
  }
}
