$linkDist: 40px;

@mixin btnStyle($color, $border, $bg, $hoverborder) {
  font-size: 16px;
  border-radius: 25px;
  padding: 4px 15px;
  color: $color;
  border: 1px solid $border;
  background-color: $bg;
  transition: all 0.5s;
  &:hover {
    color: $bg;
    border: 1px solid $hoverborder;
    background-color: $color;
  }
}

.showcase-container {
  background-image: url("/images/showcase2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 50vw;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
    p {
      font-size: 18px;
      font-weight: bold;
      color: $primaryColor;
      border: 1px solid $primaryColor;
      padding: 2px 5px;
    }
    a {
      text-decoration: none;
      color: $textColor;
      margin-right: $linkDist;
      font-size: 16px;
      transition: all 0.5s;
      &:hover {
        color: $primaryColor;
        font-size: 20px;
      }
    }

    .register {
      @include btnStyle(white, rgba(0, 0, 0, 0), $primaryColor, $primaryColor);
    }

    .sign {
      @include btnStyle($primaryColor, $primaryColor, white, rgba(0, 0, 0, 0));
    }
  }

  .showcase-text {
    width: 30%;
    margin-top: 12%;
    margin-left: 5%;

    h1 {
      font-size: 4vw;
    }
    span {
      font-family: headingTitle;
      color: $primaryColor;
    }

    p {
      font-size: 1.2vw;
      margin-top: 20px;
      line-height: 1.7em;
      color: $textColor;
    }

    button {
      @include btnStyle(white, rgba(0, 0, 0, 0), $primaryColor, $primaryColor);
      margin-top: 40px;
      font-size: 18px;
      padding: 10px 30px;
    }
    @keyframes bounce {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(30px);
      }
      100% {
        transform: translateY(0px);
      }
    }

    .virus-1 {
      @include animeImg(180px, 180px, absolute, 88px, 524px);
      animation: bounce 9.5s linear infinite;
      @media only screen and (max-width: 1300px) {
        @include animeImg(12vw, 12vw, absolute, 9%, 36%);
      }
      
      @media only screen and (min-width: 1500px) {
        @include animeImg(12vw, 12vw, absolute, 12%, 38%);
      }
    }

    .virus-2 {
      @include animeImg(130px, 130px, absolute, 310px, 480px);
      animation: bounce 3.5s ease-in-out infinite;
      @media only screen and (max-width: 1300px) {
        @include animeImg(9vw, 9vw, absolute, 47%, 35%);
      }
      @media only screen and (min-width: 1500px) {
        @include animeImg(9vw, 9vw, absolute, 47%, 35%);
      }
    }

    .virus-3 {
      @include animeImg(200px, 200px, absolute, 39px, 999px);
      animation: bounce 15.5s linear infinite;
      @media only screen and (max-width: 1300px) {
        @include animeImg(15vw, 15vw, absolute, 6%, 71%);
      }
      @media only screen and (min-width: 1500px) {
        @include animeImg(15vw, 15vw, absolute, 6%, 71%);
      }
    }

    .virus-4 {
      @include animeImg(120px, 120px, absolute, 384px, 1202px);
      animation: bounce 4.5s linear infinite;
      @media only screen and (max-width: 1300px) {
        @include animeImg(10vw, 10vw, absolute, 58%, 82%);
      }
      @media only screen and (min-width: 1500px) {
        @include animeImg(10vw, 10vw, absolute, 58%, 82%);
      }
    }

    .virus-5 {
      @include animeImg(100px, 100px, absolute, 150px, 1200px);
      animation: bounce 5.5s linear infinite;
      @media only screen and (max-width: 1300px) {
        @include animeImg(7vw, 7vw, absolute, 29%, 85%);
      }
      @media only screen and (min-width: 1500px) {
        @include animeImg(7vw, 7vw, absolute, 29%, 85%);
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .showcase-container {
    a,
    .logo {
      display: none;
    }

    .showcase-text {
      margin-top: 5%;
      margin-left: 5%;
    }
  }
}
