.home-feature-container {
  margin: 150px 0px 150px 0px;
  text-align: center;
  h1 {
    font-size: 40px;
    color: $primaryColor;
    @media only screen and (max-width: 600px) {
      font-size: 30px;
    }
  }
  p {
    line-height: 1.7em;
    margin: 10px 0 30px 0;
    color: $textColor;
  }

  .home-feature-item-container {
    display: flex;
    justify-content: center;
    .home-feature-item {
      margin: 0px 30px 0px 30px;
      font-size: 15px;
      i {
        color: white;
        background-color: $primaryColor;
        font-size: 25px;
        padding: 20px;
        border-radius: 50%;
        transition: all 0.5s;
        &:hover {
          background-color: rgba(255, 255, 255, 0);
          color: $primaryColor;
          border: 1px solid $primaryColor;
          transform: translateY(-10px);
        }
      }
    }
  }
}

.displayed-content {
  p {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 14px;
  }
  @media only screen and (max-width: 800px) {
    img {
      width: 70vw;
    }
  }
}
