$primaryColor: rgb(175, 129, 240);
$secondaryColor: rgb(109, 109, 109);

@mixin contentStyle {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;

  margin: 100px 100px 0px 100px;
  div {
    width: 450px;
  }
  h1 {
    font-size: 40px;
    margin-top: 30px;
    color: $primaryColor;
  }
  p {
    line-height: 1.7em;
    margin-top: 30px;
    color: $secondaryColor;
  }
  img {
    width: 500px;
    height: auto;
  }
  ul {
    margin-top: 30px;
  }
  li {
    list-style-type: none;
    color: $secondaryColor;
    margin: 10px 0;
    i {
      margin-right: 10px;
      color: $primaryColor;
    }
  }

  button {
    @include btnStyle($primaryColor, $primaryColor, white, rgba(0, 0, 0, 0));
    margin-top: 40px;
    font-size: 18px;
    padding: 10px 30px;
  }
}

.module-layout {
  @include contentStyle;
}

.product-container,
.feature-wrap {
  position: relative;
}

.wave-2 {
  width: 130px;
  height: auto;
  position: absolute;
  left: 0;
  top: 300px;
  animation: scale 5.5s linear infinite;
}

.wave-3 {
  width: 180px;
  height: auto;
  position: absolute;
  right: -20px;
  top: 350px;
}

@keyframes scale {
  0% {
    transform: scale(1) translateY(0);
  }

  50% {
    transform: scale(1.1) translateY(50px);
  }
  100% {
    transform: scale(1) translateY(0px);
  }
}

@media only screen and (max-width: 600px) {
  .module-layout {
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 20px 100px 0px 100px;
    div {
      width: 300px;
    }
    img {
      width: 350px;
    }
  }
}
