.news-container {
  .news-item {
    margin-bottom: 10px;
  }
  .news-btn {
    text-align: center;
    button {
      @include btnStyle($primaryColor, $primaryColor, white, rgba(0, 0, 0, 0));
    }
  }
}

.news-modal-container {
  @include position(100%, 100%, fixed, 0);
  left: 0;
  overflow-y: scroll;
  background-color: white;
  z-index: 7;
  .news-modal-header {
    @include flexStyle(space-evenly);
    position: fixed;
    width: 100%;
    background-color: rgb(210, 171, 171);
    padding: 10px 20px;
    button {
      @include btnStyle($primaryColor, $primaryColor, white, rgba(0, 0, 0, 0));
    }
  }

  .news-modal-content {
    @include gridLayout(300px);
    padding: 100px 100px 100px 100px;
    .news-item {
      margin: 20px 15px;
    }
  }
}
