.news-container {
  margin-left: 10px;
  h3 {
    margin: 10px 0 15px 0;
    @media screen and (max-width: 1250px) {
      display: none;
    }
  }

  .news-item-container {
    @media screen and (max-width: 1250px) {
      @include gridLayout(300px);
      margin-bottom: 20px;
    }
  }
  .news-item {
    margin-bottom: 15px;
    a {
      text-decoration: none;
      color: rgb(80, 80, 206);
    }
  }
  .news-btn {
    text-align: center;
    button {
      @include btnStyle($primaryColor, $primaryColor, white, rgba(0, 0, 0, 0));
    }
  }
}

.news-modal-container {
  @include position(100%, 100%, fixed, 0);
  left: 0;
  overflow-y: scroll;
  background-color: white;
  z-index: 7;

  .news-modal-header {
    z-index: 2;
    @include flexStyle(space-evenly);
    box-shadow: 3px 4px 7px -2px rgba(0, 0, 0, 0.75);
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
    button {
      @include btnStyle($primaryColor, $primaryColor, white, rgba(0, 0, 0, 0));
    }
    @media screen and (max-width: 850px) {
      h2 {
        font-size: 18px;
      }
      button {
        font-size: 12px;
      }
    }
  }

  .news-modal-content {
    @include gridLayout(300px);
    padding: 100px 100px 100px 100px;
    .news-item {
      margin: 20px 15px;
    }
  }
}
