.global-item-container {
  text-align: center;
  @include boxStyle(rgb(255, 255, 255), 700px, 20px, 10px);
  @include flexCenter(space-between);

  .global-item {
    i {
      margin-right: 5px;
    }
    h3 {
      margin: 10px 0;
    }
    h4 {
      font-size: 25px;
    }
  }
}

.canada-item {
  @include boxStyle(rgb(255, 255, 255), 100px, 20px, 10px);
  @include gridCenter();
  height: 100px;
  margin: 20px 0;
}

.status-container {
  display: grid;
  grid-template-areas:
    "canada covmap covmap covmap"
    "canada covmap covmap covmap"
    "canada covmap covmap covmap"
    "global global global global";
}

.canada-container {
  grid-area: canada;
}

.global-container {
  grid-area: global;
}

.covmap-container {
  grid-area: covmap;
}
