@import "./news";

.global-item-container {
  text-align: center;
  @include boxStyle(rgb(255, 255, 255), 950px, 20px, 10px);
  @include flexCenter(space-between);

  .global-item {
    i {
      margin-right: 5px;
    }
    h3 {
      margin: 10px 0;
    }
    h4 {
      font-size: 25px;
    }
  }
}

.canada-item {
  @include boxStyle(rgb(255, 255, 255), 150px, 20px, 10px);
  @include gridCenter();
  height: 100px;
  margin-bottom: 20px;
}

.status-container {
  display: grid;
}

.canada-container {
}

.global-container {
  // 测试用！！！！！！！！
  margin-top: -40px;
}

.covmap-container {
  img {
    border-radius: 15px;
  }
}

.news-container {
}

.status-main {
  display: grid;
  grid-template-columns: 200px 800px 300px;
}
