@import "./news";

.status-container {
  padding: 10px 10px 10px 100px;
  height: 100vh;
  @media screen and (max-width: 1300px) {
    height: auto;
  }
  @media screen and (max-width: 600px) {
    padding: 10px;
  }
  .status-header {
    display: flex;
    align-items: center;
    margin: 10px 0 20px 0;
    @include boxBorder($primaryColor, 130px, 5px, 25px, rgba(227, 227, 227, 0));
    color: white;
    @media screen and (max-width: 1200px) {
      display: none;
    }
    img {
      @include imgStyle(auto, 20px);
      margin-right: 15px;
      margin-left: 10px;
    }
  }
  .status-main {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1300px) {
      display: block;
    }
    .status-top-container {
      display: flex;
      @media screen and (max-width: 1200px) {
        display: block;
      }
    }

    .canada-container {
      @media screen and (max-width: 1200px) {
        display: grid;
        @include gridLayout(350px);
      }
      .canada-item {
        @include boxBorder(
          rgb(255, 255, 255),
          180px,
          20px,
          10px,
          rgb(220, 220, 220)
        );

        @include flexStyle(space-evenly);
        height: 70px;
        margin-bottom: 20px;

        @media screen and (max-width: 1200px) {
          width: 90%;
        }
        div {
          margin-left: 20px;
          width: 50%;
        }
        i {
          font-size: 35px;
          color: rgb(133, 133, 133);
        }
        p {
          font-size: 14px;
          font-family: headingTitle;
          margin: 5px 0;
        }
        h3 {
          font-size: 30px;
          font-family: headingTitle;
        }
      }
    }
    .global-container {
      margin-top: 20px;
      .global-item-container {
        text-align: center;
        .global-item-intro {
          margin-left: 50px;
          @media screen and (max-width: 600px) {
            display: none;
          }
          img {
            @include imgStyle(50px, auto);
          }
        }

        @include boxBorder(
          rgb(255, 255, 255),
          950px,
          30px,
          10px,
          rgb(220, 220, 220)
        );
        border-top: 2px solid $primaryColor;
        @include flexCenter(space-between);
        @media screen and (max-width: 1300px) {
          margin: 20px 0;
          @include boxBorder(
            rgb(255, 255, 255),
            90%,
            20px,
            10px,
            rgb(220, 220, 220)
          );
        }

        .global-item {
          h4 {
            margin: 5px 0;
          }
          i {
            margin-right: 5px;
            color: rgb(255, 88, 88);
          }
          p {
            font-size: 14px;
            margin: 5px 0;
            font-family: headingTitle;
          }
          h3 {
            margin: 5px 0;
            font-size: 25px;
            font-family: headingTitle;
            @media screen and (max-width: 600px) {
              font-size: 20px;
            }
          }
        }
      }
    }
    .covmap-container {
      overflow: hidden;
      position: relative;
      width: 80%;
      height: 460px;
      border: 1px solid black;
      border-radius: 15px;
      margin-left: 10px;
      @media screen and (max-width: 1200px) {
        width: 95%;
        height: 300px;
      }
      iframe {
        @include position(2000px, 1100px, absolute, -55px);
        left: -796px;
      }
    }
  }
}
