@import "./recomm";
@import "./spread";
@import "./prevent";
@import "./error";
@import "./aidheader";

.application-container {
  border: 1px solid black;
  width: 300px;
  img {
    width: 80px;
    height: 80px;
  }
}

.resource-container {
  border: 1px solid black;
}

.tip-container {
  border: 1px solid black;
}

.lowrisk-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
