@import "./recomm";
@import "./spread";
@import "./prevent";
@import "./error";
@import "./aidheader";

.application-container {
  border: 1px solid black;
  width: 300px;
  img {
    width: 80px;
    height: 80px;
  }
}

.confirmed-container {
  display: grid;
}

.help-container {
  width: 180px;
  height: 150px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  box-shadow: 3px 4px 7px -2px rgba(0, 0, 0, 0.75);
  border-radius: 25px;
  p {
    font-size: 12px;
  }
  img {
    width: 80px;
    height: 80px;
  }
}

.resource-container {
  border: 1px solid black;
  width: 880px;
}

.forum-container {
  border: 1px solid black;
  margin-left: 20px;
  width: 350px;
}

.flex-container {
  display: flex;
}
