@import "./recomm";
@import "./spread";
@import "./prevent";
@import "./error";
@import "./aidheader";
@import "./highrisk";

.lowrisk-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  @media screen and (max-width: 1400px) {
    grid-template-columns: 1fr;
  }
}

.aid-module-header {
  margin: 40px 0 15px 0;
  text-align: center;
  h3 {
    font-size: 25px;
    margin: 10px 0;
  }

  p {
    line-height: 1.5em;
    color: $textColor;
  }
}

.aid-resource-ref {
  font-size: 13px;
  text-align: center;
  margin-top: 15px;
}

.application-container {
  border: 1px solid black;
  width: 300px;
  img {
    @include imgStyle(80px, 80px);
  }
}

.help-container {
  @include boxStyle(white, 160px, 10px, 25px);
  height: 160px;
  text-align: center;
  margin: 20px 15px;

  p {
    font-size: 12px;
  }
  img {
    @include imgStyle(80px, 80px);
    margin: 5px 0;
  }
}

.resource-container {
  h2 {
    margin: 0 0 10px 0;
  }
  border-radius: 25px;
  padding: 20px 30px 20px 0;
  @include imgStyle(850px, 100%);
  .resource-item-btn {
    text-align: center;
    button {
      @include btnStyle($primaryColor, $primaryColor, white, rgba(0, 0, 0, 0));
      margin: 20px 0;
    }
  }

  .resource-item-container {
    @include gridLayout(200px);

    .resource-item-modal {
      background-color: rgb(255, 255, 255);
      padding: 30px 50px;
      width: 1100px;
      height: 500px;
      border-radius: 25px;
      border: 2px solid black;
      position: fixed;
      left: 50%;
      top: 50%;
      z-index: 2;
      overflow-y: scroll;

      transform: translate(-50%, -50%);
      .resource-item-modal-content {
        @include gridLayout(240px);
      }
    }
    .resource-item {
      @include boxBorder(white, 170px, 15px, 25px, rgb(177, 177, 177));
      margin: 15px 0;
      div {
        text-align: center;
      }
      h4 {
        font-weight: bold;
        @include imgStyle(80%, 40px);
      }

      p {
        color: gray;
        font-size: 14px;
        margin: 30px 0 5px 0;
      }
      img {
        @include imgStyle(150px, 150px);
      }
    }
  }
}

.forum-container {
  margin-left: 20px;
  width: 380px;
  .forum-item-container {
    .forum-item {
      margin: 15px 0px;
      position: relative;

      .verified-title {
        display: flex;
        img {
          margin-right: 10px;
          margin-top: 3px;
        }
      }
    }
  }
}

.flex-container {
  display: flex;
}
