.readmore-container {
  margin: 20px 0;
  @media screen and (max-width: 600px) {
    padding-bottom: 150px;
  }
  .readmore-resource-container {
    @include gridLayout(400px);
    @media screen and (max-width: 400px) {
      @include gridLayout(300px);
    }

    .readmore-resource-item {
      @media screen and (max-width: 400px) {
        .makeStyles-root-90 {
          width: 300px;
        }
      }
      h2 {
        font-size: 17px;
      }
      p {
        font-size: 13px;
      }
      a {
        text-decoration: none;
      }
      margin: 10px 0;
      transition: all 0.5s;
      &:hover {
        transform: translateY(-20px);
      }
    }
  }
}
