.recommendation-container {
  .recommendation-item-container {
    .recommendation-item {
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 10px 20px rgba(198, 198, 198, 0.43);
      width: 300px;
      display: flex;
      align-items: center;
      padding: 15px;
      margin: 20px 0;
      transition: all 0.5s;
      &:hover {
        transform: translateY(-10px);
        color: rgb(247, 152, 152);
      }
      h4 {
        font-size: 18px;
        margin-top: 20px;
      }
      p {
        font-size: 14px;
        margin: 10px 0;
      }

      img {
        width: 70px;
        height: auto;
        margin-left: 30px;
      }
      div {
        margin-left: 20px;
      }
    }
  }
}
