.recommendation-container {
  h2 {
    margin: 20px 0;
  }
  .recommendation-item-container {
    .recommendation-item {
      @include aidBox(300px, 15px, 15px, 20px, 0, rgb(43, 147, 211), 70px);
      @include flexCenter(center);
      align-items: center;
      box-shadow: 0px 10px 20px rgba(198, 198, 198, 0.43);
      &:hover {
        transform: translateY(-10px);
        color: rgb(43, 147, 211);
      }
      img {
        margin-left: 10px;
      }
      div {
        margin-left: 20px;
      }
    }
  }
}
