.spread-container {
  h2 {
    margin: 20px 0;
  }
  width: 900px;
  .spread-item-container {
    @include gridLayout(250px);
    justify-items: left;
    text-align: center;
    .spread-item {
      @include aidBox(250px, 20px, 15px, 10px, 0, rgb(43, 147, 211), 60px);
      color: rgb(43, 147, 211);
      border: 1px solid rgb(43, 147, 211);
      &:hover {
        @include aidAnime(-30px);
      }
    }
  }
}
