.spread-container {
  h2 {
    margin: 20px 0;
  }
  width: 900px;
  @media screen and (max-width: 1400px) {
    h2 {
      text-align: center;
      margin: 20px 0 10px 0;
    }
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    h2 {
      font-size: 20px;
    }
  }
  .spread-item-container {
    @include gridLayout(250px);
    justify-items: left;
    text-align: center;
    @media screen and (max-width: 1400px) {
      @include gridLayout(24vw);
    }
    @media screen and (max-width: 1000px) {
      @include gridLayout(100%);
    }
    .spread-item {
      @include aidBox(250px, 20px, 15px, 10px, 0, $primaryColor, 60px);
      @media screen and (max-width: 1400px) {
        width: 24vw;
      }
      @media screen and (max-width: 1000px) {
        width: 90%;
      }
      @media screen and (max-width: 600px) {
        width: 75%;
      }
      color: $textColor;
      border: 1px solid $primaryColor;
      &:hover {
        @include aidAnime(-30px);
      }
    }
  }
}
