.appearance-container {
  @include moduleStyle(450px);
  color: $textColor;
  box-shadow: none;
  border: 1px solid $borderColor;

  @media screen and (max-width: 500px) {
    width: 70%;
    padding: 10px 20px;
    margin-bottom: 100px;
  }
  @media screen and (max-width: 400px) {
    width: 60%;
  }

  .toggle-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    p {
      font-size: 14px;
      margin: 5px 0;
    }
  }
}
