.appearance-container {
  @include moduleStyle(450px);
  .toggle-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    p {
      font-size: 14px;
      margin: 2px 0;
      color: rgb(87, 87, 87);
    }
  }
}
