.appearance-container {
  @include moduleStyle(450px);
  color: $textColor;
  box-shadow: none;
  border: 1px solid $borderColor;
  @media screen and (max-width: 500px) {
    width: 300px;
  }
  .toggle-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    p {
      font-size: 14px;
      margin: 2px 0;
    }
  }
}
