@import "./appearance";
@import "./banner";

.profile-section {
  color: $textColor;
  @include moduleStyle(500px);
  box-shadow: none;
  border: 1px solid $borderColor;

  @media screen and (max-width: 960px) {
    margin-top: 50px;
  }

  @media screen and (max-width: 650px) {
    margin-top: 30px;
    width: 350px;
  }
  .profile-submit {
    @include flexCenter(space-between);
    button {
      @include btnStyle($primaryColor, $primaryColor, white, rgba(0, 0, 0, 0));
      padding: 4px 25px;
    }
  }
  .profile-form {
    @include gridLayout(250px);
    justify-items: left;
    margin: 10px 0;
    @media screen and (max-width: 800px) {
      @include gridLayout(300px);
    }
    p {
      font-weight: bold;
      margin-bottom: 5px;
    }
    input {
      width: 200px;
      height: 25px;
      border-radius: 5px;
      border: 1px solid rgb(160, 160, 160);
      padding: 5px 10px;
      font-size: 15px;
      margin-bottom: 15px;
      transition: all 0.5s;
      @media screen and (max-width: 800px) {
        width: 100%;
      }
      &:focus {
        border: 1px solid $primaryColor;
        box-shadow: 1px 3px 5px 0px rgba(175, 129, 240, 0.75);
      }
    }
  }
}

.profile-module-container {
  @include gridLayout(500px);
  row-gap: 30px;
  @media screen and (max-width: 800px) {
    @include gridLayout(400px);
  }
}
