.loading-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  div {
    width: 1.5rem;
    height: 1.5rem;
    margin: 2rem 1rem;
    background: $primaryColor;
    border-radius: 50%;
    animation: 0.8s bounceLoading infinite alternate;

    &:nth-child(2) {
      animation-delay: 0.3s;
    }

    &:nth-child(3) {
      animation-delay: 0.6s;
    }
  }
}

@keyframes bounceLoading {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1.5rem, 0);
  }
}

.progress-container {
  @include position(100%, 100%, fixed, 50%);
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  @include flexStyle(center);

  svg {
    color: $primaryColor;
  }
}
