.signin-container {
  @include bgImage("/images/login-2.png", cover, 800px);
}

.signin-ui-container {
  position: absolute;
  top: 200px;
  left: 200px;
  @media only screen and (max-width: 800px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    font-size: 20px;
  }

  h4 {
    margin: 20px 0;
  }

  .firebaseui-card-content {
    li {
      text-align: left;
    }
  }
}

.signin-ui-text-wrap {
  @media only screen and (max-width: 600px) {
    text-align: center;
    h2 {
      font-size: 30px;
    }
  }
}

.firebase-ui-container {
  margin: 0;
}
