.signin-container {
  @include bgImage("/images/login-2.png", cover, 700px);
}

.signin-ui-container {
  position: absolute;
  top: 200px;
  left: 200px;
  display: grid;
  justify-content: center;
  h1 {
    font-size: 50px;
  }
  h4 {
    margin: 20px 0;
  }

  .firebaseui-card-content {
    padding: 0;
    li {
      text-align: left;
    }
  }
}
