@mixin gridLayout($width) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
  justify-items: center;
}

@mixin bgImage($imgPath, $size, $height) {
  background: url($imgPath) no-repeat center center fixed;
  background-size: $size;
  height: $height;
}

@mixin position($width, $height, $position, $top) {
  width: $width;
  height: $height;
  position: $position;
  top: $top;
}

@mixin moduleStyle($width) {
  padding: 20px 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 4px 7px -2px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  width: $width;
}

@mixin flexCenter($justify) {
  display: flex;
  justify-content: $justify;
}

@mixin flexStyle($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin gridCenter() {
  display: grid;
  justify-items: center;
  align-items: center;
}

@mixin boxStyle($bgColor, $width, $padding, $borderRadius) {
  background-color: $bgColor;
  width: $width;
  padding: $padding;
  border-radius: $borderRadius;
  box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 0.75);
}

@mixin aidBox(
  $boxwidth,
  $paddingY,
  $paddingX,
  $marginY,
  $marginX,
  $color,
  $imgWidth
) {
  background-color: rgb(255, 255, 255);
  width: $boxwidth;
  padding: $paddingY $paddingX;
  margin: $marginY $marginX;
  border-radius: 25px;
  transition: all 0.5s;

  h4 {
    font-size: 18px;
    margin-top: 20px;
    color: $color;
  }
  p {
    font-size: 14px;
    margin: 10px 0;
  }

  img {
    width: $imgWidth;
    height: $imgWidth;
  }
}

@mixin aidAnime($index) {
  transform: translateY($index);
  background-color: rgb(43, 147, 211);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
}
