$btnSize: 25px;
$qtyWidth: 40px;

.qtybtn-cart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  i {
    color: rgb(123, 123, 123);
  }
  .qtybtn-container {
    font-size: 14px;
    display: flex;
    align-items: center;

    button {
      width: $btnSize;
      height: $btnSize;
      background-color: white;
      border: 1px solid rgb(235, 234, 234);
    }
    span {
      height: $btnSize;
      width: $qtyWidth;
      background-color: rgb(238, 236, 236);
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
