@charset "UTF-8";
.loading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loading-container div {
  width: 1.5rem;
  height: 1.5rem;
  margin: 2rem 1rem;
  background: #979fd0;
  border-radius: 50%;
  -webkit-animation: 0.8s bounce infinite alternate;
          animation: 0.8s bounce infinite alternate;
}

.loading-container div:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loading-container div:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes bounce {
  to {
    opacity: 0.3;
    -webkit-transform: translate3d(0, -1.5rem, 0);
            transform: translate3d(0, -1.5rem, 0);
  }
}

@keyframes bounce {
  to {
    opacity: 0.3;
    -webkit-transform: translate3d(0, -1.5rem, 0);
            transform: translate3d(0, -1.5rem, 0);
  }
}

.signin-container {
  background: url("/images/login-2.png") no-repeat center center fixed;
  background-size: cover;
  height: 700px;
}

.signin-ui-container {
  position: absolute;
  top: 200px;
  left: 200px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signin-ui-container h1 {
  font-size: 50px;
}

.signin-ui-container h4 {
  margin: 20px 0;
}

.signin-ui-container .firebaseui-card-content {
  padding: 0;
}

.signin-ui-container .firebaseui-card-content li {
  text-align: left;
}

.navbar {
  position: fixed;
  width: 80px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  background-color: white;
  -webkit-box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 0.75);
          box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 0.75);
  top: 0;
  height: 100%;
  -ms-grid-rows: (85px)[6];
      grid-template-rows: repeat(6, 85px);
}

.navbar p {
  font-size: 12px;
  margin-top: 5px;
}

.navbar i {
  font-size: 25px;
  color: #505050;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar i:hover {
  color: #fa6d6d;
}

.navbar div {
  text-align: center;
}

.mob-navbar {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
  .mob-navbar {
    position: fixed;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
    background-color: white;
    -webkit-box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 0.75);
            box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 0.75);
    bottom: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .mob-navbar p {
    font-size: 12px;
    margin-top: 5px;
  }
  .mob-navbar i {
    font-size: 25px;
    color: #505050;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mob-navbar i:hover {
    color: #fa6d6d;
  }
  .mob-navbar div {
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
}

.showcase-container {
  background-image: url("/images/showcase.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 50vw;
}

.showcase-container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 80px;
}

.showcase-container .header p {
  font-size: 18px;
  font-weight: bold;
  color: #af81f0;
  border: 1px solid #af81f0;
  padding: 2px 5px;
}

.showcase-container .header a {
  text-decoration: none;
  color: #6d6d6d;
  margin-right: 40px;
  font-size: 16px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.showcase-container .header a:hover {
  color: #af81f0;
  font-size: 20px;
}

.showcase-container .header .register {
  font-size: 16px;
  border-radius: 25px;
  padding: 4px 15px;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #af81f0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.showcase-container .header .register:hover {
  color: #af81f0;
  border: 1px solid #af81f0;
  background-color: white;
}

.showcase-container .header .sign {
  font-size: 16px;
  border-radius: 25px;
  padding: 4px 15px;
  color: #af81f0;
  border: 1px solid #af81f0;
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.showcase-container .header .sign:hover {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #af81f0;
}

.showcase-container .showcase-text {
  width: 30%;
  color: #af81f0;
  margin-top: 12%;
  margin-left: 5%;
}

.showcase-container .showcase-text h1 {
  font-size: 4vw;
}

.showcase-container .showcase-text p {
  font-size: 1.2vw;
  margin-top: 20px;
  line-height: 1.7em;
  color: #6d6d6d;
}

.showcase-container .showcase-text button {
  font-size: 16px;
  border-radius: 25px;
  padding: 4px 15px;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #af81f0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 40px;
  font-size: 18px;
  padding: 10px 30px;
}

.showcase-container .showcase-text button:hover {
  color: #af81f0;
  border: 1px solid #af81f0;
  background-color: white;
}

@media only screen and (max-width: 1200px) {
  .showcase-container a,
  .showcase-container .logo {
    display: none;
  }
  .showcase-container .showcase-text {
    margin-top: 5%;
    margin-left: 5%;
  }
}

.module-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  margin: 100px 100px 0px 100px;
}

.module-layout div {
  width: 450px;
}

.module-layout h1 {
  font-size: 40px;
  margin-top: 30px;
  color: #af81f0;
}

.module-layout p {
  line-height: 1.7em;
  margin-top: 30px;
  color: #6d6d6d;
}

.module-layout img {
  width: 500px;
  height: auto;
}

.module-layout ul {
  margin-top: 30px;
}

.module-layout li {
  list-style-type: none;
  color: #6d6d6d;
  margin: 10px 0;
}

.module-layout li i {
  margin-right: 10px;
  color: #af81f0;
}

.module-layout button {
  font-size: 16px;
  border-radius: 25px;
  padding: 4px 15px;
  color: #af81f0;
  border: 1px solid #af81f0;
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 40px;
  font-size: 18px;
  padding: 10px 30px;
}

.module-layout button:hover {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #af81f0;
}

.product-container,
.feature-wrap {
  position: relative;
}

.wave-2 {
  width: 130px;
  height: auto;
  position: absolute;
  top: 300px;
  left: 0;
  -webkit-animation: scale 5.5s linear infinite;
          animation: scale 5.5s linear infinite;
}

.wave-3 {
  width: 180px;
  height: auto;
  position: absolute;
  top: 350px;
  right: -20px;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
  50% {
    -webkit-transform: scale(1.1) translateY(50px);
            transform: scale(1.1) translateY(50px);
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
  50% {
    -webkit-transform: scale(1.1) translateY(50px);
            transform: scale(1.1) translateY(50px);
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
}

@media only screen and (max-width: 600px) {
  .module-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 100px 0px 100px;
  }
  .module-layout div {
    width: 300px;
  }
  .module-layout img {
    width: 350px;
  }
}

.team-container {
  padding: 0px 100px 100px 100px;
  margin-top: 100px;
}

.team-container h1 {
  text-align: center;
  font-size: 40px;
  color: #af81f0;
}

.team-container .team-item-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(550px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  justify-items: center;
  margin-top: 30px;
}

.team-container .team-item-container .team-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 500px;
  margin-top: 30px;
  background-color: #fefefe;
  -webkit-box-shadow: 3px 4px 7px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 4px 7px -2px rgba(0, 0, 0, 0.75);
  padding: 50px 10px;
  border-top: 4px solid #af81f0;
}

.team-container .team-item-container .team-item img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-right: 20px;
}

.team-container .team-item-container .team-item h3 {
  color: #af81f0;
  margin: 10px 0;
  font-size: 25px;
}

.team-container .team-item-container .team-item h4 {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #af81f0;
  padding: 10px 15px;
  width: 240px;
  font-size: 15px;
}

.team-container .team-item-container .team-item div {
  padding-left: 40px;
  margin-top: 20px;
}

.team-container .team-item-container .team-item div p {
  color: #6d6d6d;
  line-height: 1.5em;
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
}

.team-container .team-item-container .team-item div i {
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .team-item-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* 社交媒体按钮信息 */
.intro-sc-icon {
  height: 20px;
  -webkit-transform: translateX(-58px);
          transform: translateX(-58px);
  margin: 30px 0;
}

.btn {
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  /* background: #f1f1f1; */
  /* 如果想要背景色就打开 */
  margin: 10px;
  border-radius: 30%;
  color: #000000;
  overflow: hidden;
  position: relative;
}

.btn i {
  line-height: 30px;
  font-size: 20px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  padding-left: 5px;
}

.btn:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #f1f1f1;
}

.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #af81f0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before {
  -webkit-animation: aaa 0.7s 1;
          animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@-webkit-keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

.sponsor-container {
  margin: 50px 100px 100px 100px;
}

.sponsor-container h3 {
  text-align: center;
  color: #ababab;
}

.sponsor-container .sponsor-item {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  justify-items: center;
  color: #ababab;
}

.sponsor-container .sponsor-item i {
  font-size: 45px;
}

@media only screen and (max-width: 600px) {
  .sponsor-container .sponsor-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
  }
  .sponsor-container .sponsor-item i {
    margin: 20px 5px;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  padding: 100px 100px 100px 100px;
  background-color: #eeeeff;
}

footer div {
  display: -ms-grid;
  display: grid;
}

footer div h4 {
  color: #af81f0;
  margin-bottom: 5px;
}

footer div p {
  color: #6d6d6d;
  font-size: 12px;
  margin: 20px 0;
}

footer div i {
  color: #6d6d6d;
  font-size: 30px;
}

footer div a {
  text-decoration: none;
  color: #6d6d6d;
  margin: 5px 0;
  font-size: 14px;
}

footer .col-1 div {
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

@media only screen and (max-width: 1400px) {
  footer {
    -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 20px;
  }
}

@media only screen and (max-width: 650px) {
  footer {
    padding: 10px;
  }
  footer .col-1 h3,
  footer .col-1 i {
    display: none;
  }
  footer .col-1 p {
    margin: 0;
  }
  footer .col-2,
  footer .col-3,
  footer .col-4 {
    display: none;
  }
}

.flow-container {
  margin: 150px 100px 0px 100px;
  position: relative;
}

.flow-container h1 {
  text-align: center;
  font-size: 40px;
  color: #af81f0;
}

.flow-container .virus-anime {
  width: 300px;
  height: auto;
  position: absolute;
  top: -130px;
  left: -220px;
  z-index: -2;
  -webkit-animation: rotate 8.5s linear infinite;
          animation: rotate 8.5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.flow-container .flow-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.flow-container .flow-item div {
  width: 300px;
  text-align: center;
}

.flow-container .flow-item div img {
  width: 100px;
  height: 100px;
}

.flow-container .flow-item div h3 {
  margin: 10px 0;
  color: #af81f0;
}

.flow-container .flow-item div p {
  color: #6d6d6d;
  line-height: 1.7em;
}

.accessment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accessment-container h2,
.accessment-container h3 {
  margin-bottom: 20px;
}

.accessment-container i {
  margin-right: 10px;
  color: #c71ec7;
}

.accessment-container .accessment-form-container {
  width: 800px;
}

.accessment-container .accessment-form-container .accessment-header {
  margin: 0 0 20px 0;
}

.accessment-container .accessment-form-container .accessment-header p {
  line-height: 1.5em;
  font-size: 14px;
  margin: 10px 0;
  color: #727272;
  width: 80%;
}

.accessment-container .accessment-form-container .accessment-checkbox .symptom-header {
  font-size: 18px;
  margin: 10px 0 20px 0;
  color: #343434;
}

.accessment-container .accessment-form-container .accessment-checkbox .symptom-form {
  width: 700px;
  border: 1px solid black;
  background-color: #ebebeb;
  border-radius: 25px;
  padding: 10px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  justify-items: left;
  margin-bottom: 20px;
}

.accessment-container .accessment-form-container .accessment-checkbox .symptom-form input {
  margin-right: 10px;
}

.accessment-container .accessment-form-container .accessment-checkbox .symptom-form label {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  color: #727272;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.accessment-container .accessment-form-container .reported-symptom-container {
  width: 700px;
  border: 1px solid black;
  background-color: #ebebeb;
  border-radius: 25px;
  padding: 10px 20px;
}

.accessment-container .accessment-form-container .reported-symptom-container .report-status-container p {
  margin: 10px 0;
}

.accessment-container .accessment-form-container .reported-symptom-container .report-status-container input {
  margin-right: 10px;
}

.accessment-container .accessment-form-container .reported-symptom-container .report-status-container label {
  margin-right: 30px;
  color: #727272;
}

.accessment-container .accessment-form-container .reported-symptom-container .selfreport-container {
  margin: 20px 0;
}

.accessment-container .accessment-form-container .reported-symptom-container .selfreport-container p {
  margin: 20px 0;
}

.accessment-container .accessment-form-container .reported-symptom-container .selfreport-container input {
  width: 500px;
  height: 30px;
  border-radius: 25px;
  font-size: 15px;
  padding: 3px 10px;
  border: 1px solid #b5b5b5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.accessment-container .accessment-form-container .reported-symptom-container .selfreport-container input:focus {
  border: 1px solid #c344d7;
}

.accessment-container .accessment-form-container .reported-symptom-container .selfreport-container button {
  font-size: 16px;
  border-radius: 25px;
  padding: 4px 15px;
  color: #af81f0;
  border: 1px solid #af81f0;
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: 20px;
}

.accessment-container .accessment-form-container .reported-symptom-container .selfreport-container button:hover {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #af81f0;
}

.accessment-container .accessment-form-container .reported-symptom-container .selfreport-container ul {
  margin: 10px 0;
}

.accessment-container .accessment-form-container .reported-symptom-container .selfreport-container li {
  list-style-type: none;
  display: inline-block;
  background-color: #c344d7;
  padding: 2px 15px;
  margin-right: 5px;
  color: white;
  border-radius: 10px;
  font-size: 14px;
}

.accessment-container .accessment-form-container .accessment-btn {
  font-size: 16px;
  border-radius: 25px;
  padding: 4px 15px;
  color: #af81f0;
  border: 1px solid #af81f0;
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 20px;
}

.accessment-container .accessment-form-container .accessment-btn:hover {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #af81f0;
}

.accessment-formhelp-container {
  padding: 0 10px;
  width: 450px;
}

.accessment-formhelp-container .formhelp-container {
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px 20px;
  background-color: #ebebeb;
}

.accessment-formhelp-container .formhelp-item {
  margin: 20px 0;
}

.accessment-formhelp-container .formhelp-item a {
  font-size: 16px;
  font-weight: bold;
}

.accessment-formhelp-container .formhelp-item i {
  margin-right: 20px;
}

.accessment-formhelp-container .formhelp-item p {
  margin: 10px 0;
  line-height: 1.5em;
  color: #636363;
  font-size: 14px;
}

.accessment-formhelp-container .formhelp-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accessment-formhelp-container .formhelp-item div .vertical-line {
  height: auto;
  width: 8px;
  background-color: #c71ec7;
  margin: 10px 20px 10px 40px;
}

.accessment-formcontact-container {
  margin: 40px 0;
}

.accessment-formcontact-container h2 {
  margin: 10px 0;
}

.accessment-formcontact-container .formcontact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accessment-formcontact-container .formcontact-container .formcontact-item {
  border: 1px solid #797979;
  background-color: #ebebeb;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  width: 150px;
  padding: 20px 10px;
  margin: 10px 30px 0 0;
  border-radius: 25px;
}

.accessment-formcontact-container .formcontact-container .formcontact-item p {
  margin: 10px 0;
}

.appearance-container {
  padding: 20px 40px;
  background-color: white;
  -webkit-box-shadow: 3px 4px 7px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 4px 7px -2px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  width: 450px;
}

.appearance-container .toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.appearance-container .toggle-container p {
  font-size: 14px;
  margin: 2px 0;
  color: #575757;
}

.profile-banner {
  border-radius: 10px;
  margin: 20px 40px 20px 120px;
  background-color: #f27070;
  padding: 20px 50px 20px 20px;
  margin-bottom: 40px;
  background: url("/images/banner.png");
  background-size: contain;
  height: 130px;
}

.profile-banner .profile-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 180px;
}

.profile-banner .profile-user img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #8c8c8c;
}

.profile-banner .profile-user h3 {
  font-size: 30px;
  margin: 50px 0 0 10px;
}

.profile-section {
  padding: 20px 40px;
  background-color: white;
  -webkit-box-shadow: 3px 4px 7px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 4px 7px -2px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  width: 550px;
}

.profile-section .profile-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-section .profile-submit button {
  font-size: 16px;
  border-radius: 25px;
  padding: 4px 15px;
  color: #af81f0;
  border: 1px solid #af81f0;
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 4px 25px;
}

.profile-section .profile-submit button:hover {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #af81f0;
}

.profile-section .profile-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  justify-items: left;
  margin: 10px 0;
}

.profile-section .profile-form p {
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-section .profile-form input {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #a0a0a0;
  padding: 5px 10px;
  font-size: 15px;
  margin-bottom: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.profile-section .profile-form input:focus {
  border: 1px solid #af81f0;
  -webkit-box-shadow: 1px 3px 5px 0px rgba(175, 129, 240, 0.75);
          box-shadow: 1px 3px 5px 0px rgba(175, 129, 240, 0.75);
}

.profile-module-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-items: center;
}

.news-container .news-item {
  font-size: 14px;
  width: 280px;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 10px 20px rgba(198, 198, 198, 0.43);
          box-shadow: 0px 10px 20px rgba(198, 198, 198, 0.43);
  padding-bottom: 20px;
  border-radius: 25px;
  position: relative;
  margin-bottom: 20px;
}

.news-container .news-item .hover-container {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.news-container .news-item .overlay {
  background-color: rgba(130, 83, 83, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.news-container .news-item a {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 5px 15px;
  border-radius: 25px;
  background-color: white;
  border: 1px solid #fc5c5c;
  text-decoration: none;
  color: #ff5c5c;
  font-size: 18px;
  font-family: title;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.news-container .news-item a:hover {
  color: white;
  background-color: #fc5c5c;
  border: 1px solid rgba(0, 0, 0, 0);
}

.news-container .news-item img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 280px;
  height: auto;
  max-height: 200px;
}

.news-container .news-item .news-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5em;
  padding: 5px 10px;
}

.news-container .news-item .news-author {
  margin-top: 10px;
  color: #989898;
  padding: 5px 10px;
}

.news-container .news-item .news-time {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: #f96666;
  padding: 5px 15px;
}

.news-container .news-item .news-source {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 15px;
  color: white;
  background-color: #f96666;
}

.status-container {
  padding: 10px 10px 10px 100px;
}

.status-container .status-main {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "canada covmap covmap covmap news" "canada covmap covmap covmap news" "canada covmap covmap covmap news" "global global global global news";
}

.status-container .status-main .canada-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: canada;
}

.status-container .status-main .canada-container .canada-item {
  background-color: white;
  width: 150px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 0.75);
          box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 0.75);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  margin-bottom: 20px;
}

.status-container .status-main .global-container {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: global;
}

.status-container .status-main .global-container .global-item-container {
  text-align: center;
  background-color: white;
  width: 980px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 0.75);
          box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.status-container .status-main .global-container .global-item-container .global-item i {
  margin-right: 5px;
}

.status-container .status-main .global-container .global-item-container .global-item h3 {
  margin: 10px 0;
}

.status-container .status-main .global-container .global-item-container .global-item h4 {
  font-size: 25px;
}

.status-container .status-main .covmap-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: covmap;
}

.status-container .status-main .covmap-container img {
  border-radius: 15px;
}

.status-container .status-main .news-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 5;
  grid-area: news;
}

.recommendation-container h2 {
  margin: 20px 0;
}

.recommendation-container .recommendation-item-container .recommendation-item {
  background-color: white;
  width: 300px;
  padding: 15px 15px;
  margin: 20px 0;
  border-radius: 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 10px 20px rgba(198, 198, 198, 0.43);
          box-shadow: 0px 10px 20px rgba(198, 198, 198, 0.43);
}

.recommendation-container .recommendation-item-container .recommendation-item h4 {
  font-size: 18px;
  margin-top: 20px;
  color: #2b93d3;
}

.recommendation-container .recommendation-item-container .recommendation-item p {
  font-size: 14px;
  margin: 10px 0;
}

.recommendation-container .recommendation-item-container .recommendation-item img {
  width: 70px;
  height: 70px;
}

.recommendation-container .recommendation-item-container .recommendation-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  color: #2b93d3;
}

.recommendation-container .recommendation-item-container .recommendation-item img {
  margin-left: 10px;
}

.recommendation-container .recommendation-item-container .recommendation-item div {
  margin-left: 20px;
}

.spread-container {
  width: 900px;
}

.spread-container h2 {
  margin: 20px 0;
}

.spread-container .spread-item-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  justify-items: left;
  text-align: center;
}

.spread-container .spread-item-container .spread-item {
  background-color: white;
  width: 250px;
  padding: 20px 15px;
  margin: 10px 0;
  border-radius: 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #2b93d3;
  border: 1px solid #2b93d3;
}

.spread-container .spread-item-container .spread-item h4 {
  font-size: 18px;
  margin-top: 20px;
  color: #2b93d3;
}

.spread-container .spread-item-container .spread-item p {
  font-size: 14px;
  margin: 10px 0;
}

.spread-container .spread-item-container .spread-item img {
  width: 60px;
  height: 60px;
}

.spread-container .spread-item-container .spread-item:hover {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  background-color: #2b93d3;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
}

.prevent-container {
  width: 900px;
}

.prevent-container h2 {
  margin: 20px 0;
}

.prevent-container .prevent-item-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  justify-items: left;
}

.prevent-container .prevent-item-container .prevent-item {
  background-color: white;
  width: 400px;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 10px 20px rgba(198, 198, 198, 0.43);
          box-shadow: 0px 10px 20px rgba(198, 198, 198, 0.43);
}

.prevent-container .prevent-item-container .prevent-item h4 {
  font-size: 18px;
  margin-top: 20px;
  color: #2b93d3;
}

.prevent-container .prevent-item-container .prevent-item p {
  font-size: 14px;
  margin: 10px 0;
}

.prevent-container .prevent-item-container .prevent-item img {
  width: 50px;
  height: 50px;
}

.prevent-container .prevent-item-container .prevent-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  color: #2b93d3;
}

.prevent-container .prevent-item-container .prevent-item div {
  margin-left: 20px;
}

.error-container {
  background: url("/images/404.png") no-repeat center center fixed;
  background-size: 1000px;
  height: 550px;
  margin-top: 30px;
  color: #484848;
  text-align: center;
}

.error-container p {
  text-align: center;
  margin: 20px 0;
}

.aid-header-container {
  width: 860px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  color: white;
  background-color: #4991ba;
  position: relative;
  height: 180px;
  margin: 20px 0;
  border-radius: 20px;
}

.aid-header-container img {
  width: 200px;
  height: auto;
  position: absolute;
  top: -40px;
  right: 0;
}

.aid-header-container p {
  margin: 10px 0;
}

.aid-header-container div {
  width: 500px;
}

.application-container {
  border: 1px solid black;
  width: 300px;
}

.application-container img {
  width: 80px;
  height: 80px;
}

.lowrisk-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.confirmed-container {
  display: -ms-grid;
  display: grid;
}

.help-container {
  width: 160px;
  height: 150px;
  padding: 15px 10px;
  text-align: center;
  margin: 20px 15px;
  -webkit-box-shadow: 3px 3px 6px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 3px 6px -2px rgba(0, 0, 0, 0.75);
  border-radius: 25px;
}

.help-container p {
  font-size: 12px;
}

.help-container img {
  width: 80px;
  height: 80px;
  margin: 5px 0;
}

.resource-container {
  border: 1px solid lightgray;
  border-radius: 25px;
  padding: 20px 20px;
  width: 840px;
}

.resource-container .resource-item-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}

.resource-container .resource-item-container div {
  margin: 10px 0;
}

.resource-container .resource-item-container img {
  width: 150px;
  height: 150px;
}

.forum-container {
  border: 1px solid black;
  margin-left: 20px;
  width: 380px;
}

.forum-container .forum-item-container .forum-item {
  margin: 15px 20px;
  border: 1px solid black;
}

.forum-container .forum-item-container .forum-item img {
  width: 300px;
  height: auto;
}

.forum-container .forum-item-container .forum-item div {
  background-color: #838383;
  color: white;
  height: 100px;
  width: 300px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

input,
button:focus {
  outline: none;
}

.main-container h1 {
  color: #575757;
  background-color: white;
  padding: 15px 10px 15px 120px;
  -webkit-box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 0.75);
          box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 0.75);
  font-size: 20px;
}

.main-container .content-container {
  padding: 40px 50px 50px 120px;
}

@media only screen and (max-width: 600px) {
  .main-container h1 {
    padding: 20px;
  }
  .main-container .content-container {
    padding: 20px 20px 150px 20px;
  }
}
