@import "./navbar";
@import "./landing/landing";

* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

input,
button:focus {
  outline: none;
}

.content-container {
  position: absolute;
  left: 80px;
  margin: 30px;
}
