@import "./mixin";
@import "./variable";
@import "./loading";
@import "./feedback";
@import "./qtybtn";
@import "./scrollbtn";

@import "./login";
@import "./navbar";

@import "./landing/landing";
@import "./home";
@import "./sympotm/symptom";
@import "./profile/profile";
@import "./status/status";
@import "./aid/aid";
@import "./game";
@import "./hero/hero";

* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

@font-face {
  font-family: inter1;
  src: url("../font/Inter-Bold.ttf");
}

@font-face {
  font-family: raleway;
  src: url("../font/Raleway-Regular.ttf");
}

@font-face {
  font-family: inter2;
  src: url("../font/Inter-SemiBold.ttf");
}

@font-face {
  font-family: headingTitle;
  src: url("../font/Verdana.ttf");
}

a {
  text-decoration: none;
  color: $textColor;
}

input,
button:focus {
  outline: none;
}

h1,
h2 {
  // letter-spacing: 0.5px;
  font-family: inter1;
}

.usernav-container {
  color: white;
  background-color: $primaryColor;
  padding: 15px 10px 15px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 20px;
  }
  img {
    border: 1px solid rgb(184, 184, 184);
    border-radius: 50%;
    margin: 0 15px;
  }
  .usernav-icon {
    margin-right: 30px;
    display: flex;
  }

  .badge-item-container {
    display: flex;
    margin-bottom: 0;
    .badge-item {
      margin: 0 15px;
      position: relative;
      .MuiBadge-colorPrimary {
        background-color: rgb(255, 255, 255);
        color: $primaryColor;
      }
      button {
        border: none;
        color: rgb(255, 255, 255);
        background: none;
        transition: all 0.5s;
        &:hover {
          color: red;
        }
      }
      .nav-pop-modal {
        position: absolute;
        top: 30px;
        left: -190px;
        width: 200px;
        padding: 5px 10px;
        background-color: rgb(242, 242, 242);
        border-radius: 15px;
        z-index: 6;
        i {
          margin-right: 10px;
        }
        li {
          list-style-type: none;
          font-size: 13px;
          margin: 10px 0;
          color: black;
        }
      }
    }
  }
}

.main-container {
  .content-container {
    padding: 40px 50px 50px 120px;
    background-color: white;
  }
}

@media only screen and (max-width: 600px) {
  .usernav-container {
    padding: 10px;
  }
  .main-container {
    .content-container {
      padding: 20px 20px 150px 20px;
    }
  }
}
