.navbar {
  position: fixed;
  width: 80px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  background-color: white;
  -webkit-box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 0.75);
          box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 0.75);
  top: 0;
  height: 100%;
  -ms-grid-rows: (90px)[6];
      grid-template-rows: repeat(6, 90px);
}

.navbar p {
  font-size: 12px;
  margin-top: 5px;
}

.navbar i {
  font-size: 25px;
  color: #505050;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar i:hover {
  color: #fa6d6d;
}

.navbar div {
  text-align: center;
}

.mob-navbar {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
  .mob-navbar {
    position: fixed;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
    background-color: white;
    -webkit-box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 0.75);
            box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 0.75);
    bottom: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .mob-navbar p {
    font-size: 12px;
    margin-top: 5px;
  }
  .mob-navbar i {
    font-size: 25px;
    color: #505050;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mob-navbar i:hover {
    color: #fa6d6d;
  }
  .mob-navbar div {
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

input,
button:focus {
  outline: none;
}

.content-container {
  position: absolute;
  left: 80px;
  margin: 30px;
}
