@import "./slide";

.symptom-return-container {
  text-align: center;
  padding-top: 80px;

  @media only screen and (max-width: 1100px) {
    padding-top: 20px;
  }
  @media only screen and (max-width: 600px) {
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }
  p {
    margin: 10px 0;
  }
  .return-item-container {
    width: 100%;
    @include gridLayout(350px);
    @media only screen and (max-width: 1300px) {
      @include gridLayout(300px);
    }
    @media only screen and (max-width: 1100px) {
      @include gridLayout(500px);
    }
    @media only screen and (max-width: 600px) {
      @include gridLayout(400px);
    }
    a {
      text-decoration: none;
      color: black;
    }
    .return-item {
      cursor: pointer;
      border-radius: 25px;
      width: 350px;
      height: 230px;
      border: 1px solid rgb(172, 172, 172);
      margin: 20px 0;
      transition: all 0.5s;
      @media only screen and (max-width: 1300px) {
        width: 300px;
      }
      @media only screen and (max-width: 1100px) {
        width: 500px;
      }
      @media only screen and (max-width: 600px) {
        width: 400px;
      }
      &:hover {
        transform: translateY(-10px);
      }

      h3 {
        background-color: $primaryColor;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        color: white;
        padding: 5px 0;
      }
      img {
        @include imgStyle(100px, 100px);
        margin: 20px 0 0 0;
      }
      p {
        font-size: 14px;
        padding: 0 15px 15px 15px;
      }
    }
  }
}
