.preventation-modal {
  border: 1px solid rgb(215, 215, 215);
  z-index: 5;
  overflow-y: scroll;
  @include modalFlex(fixed, 85%, 550px, rgb(243, 254, 255), 25px);
  .preventation-modal-content {
    @include flexStyle(center);
  }
  h2 {
    text-align: center;
  }
  button {
    @include btnStyle($primaryColor, $primaryColor, white, rgba(0, 0, 0, 0));
  }
  .modal-btn {
    text-align: center;
    margin: 10px 0;
  }
}

.test-centre-container {
  padding: 10px;
  #google-map {
    border-radius: 25px;
  }
  button {
    margin: 20px 0;
  }
}

.faq-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin: 30px 0;
  button {
    margin: 20px 0;
  }
}

.nearme-container {
  padding: 10px;
  display: flex;
  .nearme-map-container {
    border-radius: 25px;
  }
  .nearme-list-container {
    width: 350px;
    height: 450px;
    overflow-y: scroll;
    padding: 10px 0;
    .nearme-list-item {
      border: 1px solid rgb(187, 187, 187);
      margin: 0 15px 15px 15px;
      padding: 10px 5px;
      h4 {
        font-size: 15px;
      }
      p {
        font-size: 13px;
        margin: 2px 0;
      }
    }
  }
}
