.preventation-modal {
  // border: 1px solid rgb(215, 215, 215);
  z-index: 5;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.59);
  overflow-y: scroll;
  position: relative;
  @include modalFlex(fixed, 75%, 550px, rgb(255, 255, 255), 25px);

  .preventation-modal-content {
    @include flexStyle(center);
  }
  h2 {
    text-align: center;
  }
  button {
    @include btnStyle($primaryColor, $primaryColor, white, rgba(0, 0, 0, 0));
    @media only screen and (max-width: 800px) {
      font-size: 12px;
      padding: 2px 8px;
    }
  }
  .modal-btn {
    position: absolute;
    left: 20px;
    top: 15px;
    margin: 10px 0;
    @media only screen and (max-width: 800px) {
      top: 10px;
    }
  }
  @media only screen and (max-width: 1300px) {
    width: 60%;
  }
  @media only screen and (max-width: 800px) {
    width: 80%;
  }
  @media only screen and (max-width: 500px) {
    width: 90%;
  }
}

.test-centre-container {
  padding: 10px;
  #google-map {
    border-radius: 25px;
  }
  button {
    margin: 20px 0;
  }
}

.faq-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin: 30px 0;

  button {
    margin: 20px 0;
  }
}

.nearme-wrap {
  height: 100vh;
  @media only screen and (max-width: 600px) {
    height: auto;
  }
  h3 {
    padding: 20px 0 5px 0;
    text-align: center;
    font-size: 25px;
    letter-spacing: 3px;
    color: $primaryColor;
  }
  @media only screen and (max-width: 800px) {
    h3 {
      font-size: 18px;
    }
  }
}

.nearme-container {
  padding: 10px;
  display: flex;
  @media only screen and (max-width: 500px) {
    display: block;
  }
  .nearme-map-container {
    border-radius: 25px;
    @media only screen and (max-width: 500px) {
      margin: 0 auto;
    }
  }
  .nearme-list-container {
    width: 350px;
    height: 450px;
    overflow-y: scroll;
    padding: 0 0 10px 0;
    @media only screen and (max-width: 500px) {
      margin: 0 auto;
      padding-top: 20px;
    }
    select {
      width: 80%;
      height: 30px;
      margin: 0 0 10px 15px;
      &:focus {
        outline: none;
      }
    }
    .nearme-list-item {
      border: 1px solid rgb(187, 187, 187);
      border-radius: 15px;
      color: $textColor;
      margin: 0 15px 15px 15px;
      padding: 10px 10px;
      i {
        margin-right: 5px;
      }
      h4 {
        font-size: 15px;
      }
      p {
        font-size: 13px;
        margin: 3px 0;
      }
    }
  }
}
