.accessment-container {
  i {
    margin-right: 10px;
    color: rgb(199, 30, 199);
  }
}
.accessment-header {
  margin: 0 0 20px 0;
  width: 900px;
  p {
    line-height: 1.5em;
    font-size: 14px;
    margin: 10px 0;
    color: rgb(114, 114, 114);
    width: 700px;
  }
}

.symptom-header {
  font-size: 18px;
  margin: 10px 0 10px 0;
  color: rgb(52, 52, 52);
}

.symptom-form {
  width: 900px;
  @include gridLayout(250px);
  justify-items: left;
  margin-bottom: 20px;
  input {
    margin-right: 10px;
  }

  label {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: rgb(114, 114, 114);
    transition: all 0.5s;
  }
}

.accessment-btn {
  @include btnStyle($primaryColor, $primaryColor, white, rgba(0, 0, 0, 0));
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}

.reported-symptom-container {
  width: 900px;
}

.report-status-container {
  p {
    margin: 10px 0;
  }
  input {
    margin-right: 10px;
  }
  label {
    margin-right: 30px;
    color: rgb(114, 114, 114);
  }
}

.selfreport-container {
  margin: 20px 0;
  p {
    margin: 10px 0;
  }
  input {
    width: 500px;
    height: 30px;
    border-radius: 25px;
    font-size: 15px;
    padding: 3px 10px;
    border: 1px solid rgb(181, 181, 181);
    transition: all 0.5s;
    &:focus {
      border: 1px solid rgb(195, 68, 215);
    }
  }
  button {
    @include btnStyle($primaryColor, $primaryColor, white, rgba(0, 0, 0, 0));
    margin-left: 20px;
  }

  ul {
    margin: 10px 0;
  }
  li {
    list-style-type: none;
    display: inline-block;
    background-color: rgb(195, 68, 215);
    padding: 2px 15px;
    margin-right: 5px;
    color: white;
    border-radius: 10px;
    font-size: 14px;
  }
}
