@import "./return";
@import "./returnmodal";

.accessment-container {
  display: flex;

  h2,
  h3 {
    margin-bottom: 10px;
    color: $textColor;
  }
  i {
    margin-right: 10px;
    color: $primaryColor;
  }

  p,
  a,
  li,
  label {
    color: $subTextColor;
  }
  @media only screen and (max-width: 600px) {
    h3 {
      margin: 10px 0 10px 20px;
    }
  }

  .accessment-form-container {
    .accessment-header {
      margin: 0 0 20px 0;
      p {
        line-height: 1.5em;
        font-size: 14px;
        margin: 10px 0;
        width: 80%;
      }
      @media only screen and (max-width: 600px) {
        padding: 10px 20px;
      }
    }

    .accessment-checkbox {
      .symptom-header {
        font-size: 18px;
        margin: 10px 0 20px 0;
        @media only screen and (max-width: 600px) {
          margin-left: 20px;
        }
      }

      .symptom-form {
        border: 1px solid $borderColor;
        background-color: $backgroundColor;
        border-radius: 25px;
        padding: 10px 20px;
        @include gridLayout(200px);
        justify-items: left;
        margin-bottom: 20px;
        @media only screen and (max-width: 600px) {
          width: 80%;
          margin: 0 auto;
          @include gridLayout(150px);
        }
        @media only screen and (max-width: 400px) {
          justify-items: left;
          @include gridLayout(200px);
        }
        input {
          margin-right: 10px;
        }
        label {
          width: 200px;
          height: 50px;
          display: flex;
          align-items: center;
          border-radius: 10px;
          transition: all 0.5s;
          @media only screen and (max-width: 500px) {
            height: 30px;
            font-size: 13px;
          }
        }
      }
    }
    .reported-symptom-container {
      border: 1px solid $borderColor;
      background-color: $backgroundColor;
      border-radius: 25px;
      padding: 10px 20px;
      @media only screen and (max-width: 600px) {
        width: 80%;
        margin: 0 auto;
      }
      .report-status-container {
        p {
          margin: 10px 0;
        }
        input {
          margin-right: 10px;
        }
        label {
          margin-right: 30px;
        }
      }
      .selfreport-container {
        margin: 20px 0;
        p {
          margin: 20px 0;
        }
        input {
          height: 30px;
          border-radius: 25px;
          font-size: 15px;
          padding: 3px 10px;
          border: 1px solid rgb(181, 181, 181);
          transition: all 0.5s;
          &:focus {
            border: 1px solid $primaryColor;
          }
        }
        button {
          @include btnStyle(
            $primaryColor,
            $primaryColor,
            white,
            rgba(0, 0, 0, 0)
          );
          margin-left: 20px;
        }
        ul {
          margin: 10px 0;
        }
        li {
          list-style-type: none;
          display: inline-block;
          background-color: $primaryColor;
          padding: 2px 15px;
          margin-right: 5px;

          border-radius: 10px;
          font-size: 14px;
        }
      }
    }
    .accessment-btn {
      @include btnStyle($primaryColor, $primaryColor, white, rgba(0, 0, 0, 0));
      margin-top: 20px;
      @media only screen and (max-width: 600px) {
        margin-left: 20px;
      }
    }
  }
}

.accessment-formhelp-container {
  padding: 0 10px;
  width: 450px;
  @media only screen and (max-width: 600px) {
    width: 85%;
  }
  .formhelp-container {
    border: 1px solid $borderColor;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: $backgroundColor;
    @media only screen and (max-width: 600px) {
      margin-bottom: 100px;
      margin-left: 20px;
    }
  }
  .formhelp-item {
    margin: 20px 0;
    a {
      font-size: 16px;
      font-weight: bold;
    }

    i {
      margin-right: 20px;
    }
    p {
      margin: 10px 0;
      line-height: 1.5em;

      font-size: 14px;
    }
    div {
      display: flex;
      .vertical-line {
        height: auto;
        width: 8px;
        background-color: $primaryColor;
        margin: 10px 20px 10px 40px;
      }
    }
  }
}
.accessment-formcontact-container {
  margin: 40px 0;
  h2 {
    margin: 10px 0;
  }
  @media only screen and (max-width: 600px) {
    display: none;
  }
  .formcontact-container {
    display: flex;

    .formcontact-item {
      border: 1px solid $borderColor;
      background-color: $backgroundColor;
      display: grid;

      justify-items: center;
      width: 150px;

      padding: 20px 10px;
      margin: 10px 30px 0 0;
      border-radius: 25px;
      p {
        margin: 10px 0;
      }
    }
  }
}

@media only screen and (max-width: 1350px) {
  .accessment-container {
    display: grid;
    justify-content: center;
  }

  .accessment-formhelp-container {
    margin: 20px 0;
  }
}
